* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background: url("../img/barcoindex.jpg") no-repeat center center fixed;
  background-size: cover;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: 0;
}

body > * {
    position: relative;
    z-index: 1;
}


header {
    max-width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
}

.logo-header {
    width: 86px;
    height: 80px;
    margin-right: 1rem;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    text-transform: uppercase;
    color: #fafafa;
}

.container-botones-header {
    margin-left: auto;
}

.boton-header {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}


.boton-header.empieza {
    background-color: #467FB1;
    border: 2px solid #467FB1;
    color: #fafafa;
}

.boton-header.sesion {
    background-color: #fafafa;
    border: 2px solid #fafafa;
    color: #467FB1;
}

.boton-header:hover {
    background-color: #192738;
    color: #fafafa;
    border: 2px solid #192738;
}

