<div class="header-content">
    <a href="/">
        <img src="/img/logoFafafa.png" alt="Logo de Mariscamar" class="logo-header">
    </a>
    <nav class="navegacion-principal" aria-roledescription="navegación principal">
        <ul class="menu-header">
            <li><a href="/">Inicio</a></li>
            <li><a href="/contact">Contacto</a></li>
            <li><a href="/about">Sobre nosotros</a></li>
        </ul>
    </nav>

    <div class="container-botones-header">
        <button class="boton-header empieza" onclick="mostrarRegistroPopup(event)">Empieza</button>
        <button class="boton-header sesion" onclick="mostrarLoginPopup()">Iniciar sesión</button>
    </div>
</div>
